In [1]:
import os

notebook_path = os.getcwd()
print(notebook_path)

C:\Users\admin\2K project

In [2]:
import pandas as pd
import numpy as np
import datetime 
demographic = pd.read_csv(r'C:\\Users\\admin\\2K project\demographic_info.csv')
value = pd.read_csv(r'C:\\Users\\admin\\2K project\value_info.csv')
demographic['Date Of Birth'] = pd.to_datetime(demographic['Date Of Birth'])
demographic['Registration Date'] = pd.to_datetime(demographic['Registration Date'])
demographic.info()
demographic.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_12468\548057239.py:6: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  demographic['Date Of Birth'] = pd.to_datetime(demographic['Date Of Birth'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31441 entries, 0 to 31440
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         31441 non-null  int64
 1   Title               27363 non-null  object
 2   Date Of Birth       31441 non-null  datetime64[ns]
 3   Address City        31441 non-null  object
 4   Contact Allowed     31441 non-null  object
 5   Registration Date   31441 non-null  datetime64[ns]
 6   Source of Customer  31441 non-null  object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 1.7+ MB

,Customer ID,Title,Date Of Birth,Address City,Contact Allowed,Registration Date,Source of Customer
0,1,Mr,1973-06-29,Malahide,Y,2013-01-01 00:23:00,Organic Search
1,2,Mr,1984-07-25,Dublin,Y,2013-01-01 00:30:00,Affiliates
2,3,Mr,1991-01-05,Dublin,Y,2013-01-01 01:09:00,Paid Social
3,4,Mr,1986-11-30,Dublin,N,2013-01-01 01:19:00,Affiliates
4,5,Mr,1991-02-10,Limerick,Y,2013-01-01 01:58:00,Paid Search

In [3]:
value.info()
value.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30591 entries, 0 to 30590
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer ID                    30591 non-null  int64
 1   1st Order Profit               30591 non-null  int64
 2   Subsequent Order Profit        30591 non-null  int64
 3   Subsequent Orders Count        30591 non-null  int64
 4   Total value of all promotions  30591 non-null  int64
dtypes: int64(5)
memory usage: 1.2 MB

,Customer ID,1st Order Profit,Subsequent Order Profit,Subsequent Orders Count,Total value of all promotions
0,1,9,5,1,7
1,2,8,70,7,7
2,3,14,51,7,0
3,4,14,0,0,0
4,5,23,68,9,15

In [4]:
merged_df = pd.merge(demographic, value, on='Customer ID', how='inner')
merged_df['Registration Date'] = pd.to_datetime(merged_df['Registration Date'])
print(merged_df)
merged_df.info()
merged_df.head()

       Customer ID Title Date Of Birth Address City Contact Allowed  \
0                1    Mr    1973-06-29     Malahide               Y
1                2    Mr    1984-07-25       Dublin               Y
2                3    Mr    1991-01-05       Dublin               Y
3                4    Mr    1986-11-30       Dublin               N
4                5    Mr    1991-02-10     Limerick               Y
...            ...   ...           ...          ...             ...
30586        31437    Mr    1964-12-19       Dublin               N
30587        31438    Mr    1977-09-23    Mullingar               Y
30588        31439    Mr    1988-02-07       Dublin               Y
30589        31440  Miss    1993-10-02       Dublin               Y
30590        31441    Mr    1971-12-18  Letterkenny               Y

        Registration Date Source of Customer  1st Order Profit  \
0     2013-01-01 00:23:00     Organic Search                 9
1     2013-01-01 00:30:00         Affiliates                 8
2     2013-01-01 01:09:00        Paid Social                14
3     2013-01-01 01:19:00         Affiliates                14
4     2013-01-01 01:58:00        Paid Search                23
...                   ...                ...               ...
30586 2013-03-15 17:28:00         Affiliates                11
30587 2013-03-15 17:28:00        Paid Search                21
30588 2013-03-15 17:28:00        Paid Social                 7
30589 2013-03-15 17:29:00             Direct                 9
30590 2013-03-15 17:30:00             Direct                 3

       Subsequent Order Profit  Subsequent Orders Count  \
0                            5                        1
1                           70                        7
2                           51                        7
3                            0                        0
4                           68                        9
...                        ...                      ...
30586                       97                        9
30587                       70                       10
30588                       42                        4
30589                        0                        0
30590                       69                        6

       Total value of all promotions
0                                  7
1                                  7
2                                  0
3                                  0
4                                 15
...                              ...
30586                             28
30587                              9
30588                              0
30589                              3
30590                              9

[30591 rows x 11 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30591 entries, 0 to 30590
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer ID                    30591 non-null  int64
 1   Title                          26616 non-null  object
 2   Date Of Birth                  30591 non-null  datetime64[ns]
 3   Address City                   30591 non-null  object
 4   Contact Allowed                30591 non-null  object
 5   Registration Date              30591 non-null  datetime64[ns]
 6   Source of Customer             30591 non-null  object
 7   1st Order Profit               30591 non-null  int64
 8   Subsequent Order Profit        30591 non-null  int64
 9   Subsequent Orders Count        30591 non-null  int64
 10  Total value of all promotions  30591 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(4)
memory usage: 2.8+ MB

,Customer ID,Title,Date Of Birth,Address City,Contact Allowed,Registration Date,Source of Customer,1st Order Profit,Subsequent Order Profit,Subsequent Orders Count,Total value of all promotions
0,1,Mr,1973-06-29,Malahide,Y,2013-01-01 00:23:00,Organic Search,9,5,1,7
1,2,Mr,1984-07-25,Dublin,Y,2013-01-01 00:30:00,Affiliates,8,70,7,7
2,3,Mr,1991-01-05,Dublin,Y,2013-01-01 01:09:00,Paid Social,14,51,7,0
3,4,Mr,1986-11-30,Dublin,N,2013-01-01 01:19:00,Affiliates,14,0,0,0
4,5,Mr,1991-02-10,Limerick,Y,2013-01-01 01:58:00,Paid Search,23,68,9,15

In [5]:
Len()

NameError: name 'Len' is not defined

In [ ]:
merged_df['Net Sales'] = merged_df['1st Order Profit'] + merged_df['Subsequent Order Profit'] - merged_df['Total value of all promotions']
merged_df['average_net_sales'] = merged_df['Net Sales'] / (merged_df['Subsequent Orders Count'] + 1)
print(merged_df)
merged_df.info()
merged_df.head()

In [ ]:
from datetime import date
now = pd.Timestamp('now')
merged_df['age'] = (now - merged_df['Date Of Birth']).astype('<m8[Y]')
print(merged_df)
merged_df.info()
merged_df.head()

In [ ]:
from datetime import date
merged_df['Registration Date'] = pd.to_datetime(merged_df['Registration Date'])
print(merged_df)
merged_df.info()
merged_df.head()

In [ ]:
from datetime import datetime
target_date = datetime(2013, 6, 30)
merged_df['tenure'] = (target_date - merged_df['Registration Date']).dt.days
print(merged_df)
merged_df.info()
merged_df.head()

In [ ]:
merged_df.tail()

In [ ]:
title_to_gender = {
    'Mr': 'Male',
    'Mrs': 'Female',
    'Miss': 'Female',
    'Ms': 'Female',
    ' ': 'N/A',
}
merged_df['Gender'] = merged_df['Title'].map(title_to_gender)
print(merged_df)
merged_df.head()

In [ ]:
def classify_age(age):
    if 18 <= age <= 34:
        return 'Millennials'
    elif 35 <= age <= 54:
        return 'Generation X'
    elif 55 <= age <= 74:
        return 'Baby Boomers'
    else:
        return 'Senior Citizens'
merged_df['Age Group'] = merged_df['age'].apply(classify_age)
print(merged_df)
merged_df.info()
merged_df.head()

In [ ]:
merged_df.describe().T

In [ ]:
merged_df.describe(include='all').T

In [ ]:
cost = pd.read_csv(r'C:\\Users\\admin\\2K project\cost_data.csv')
print(cost)
cost.info()
cost.head()

In [ ]:
#Define business problem (what data to use)
#Define customer behaviour (tenure, subsequent orders count, net sales: how recent did the customers register with the retailer, how frequent did they come back, how much did they spend)
#Define channel performance (Source of Customer and Cost: how did they know about the retailer and does that break even with the cost?)
#Define demographic differences (Age Group, Gender, Location)

In [ ]:
#Visualise the correlations
#1. Visualise the growth of net sales and total numbers of orders during the three months
#2. Build the RFM model to find leads (to answer the question "who")
#3. Put together and visualise source of customers, net sales, and cost (why is there no paid social cost data?)